# Adapted from https://blog.aawadia.dev/2022/11/02/docker-registry-ci/
# Is meant to be run locally

services:
  registry:
    image: registry:3
    container_name: registry
    restart: unless-stopped
    volumes:
      - ./datadir/data:/var/lib/registry
    ports:
      - 5000:5000

